{
  "root": true,
  "extends": ["plugin:prettier/recommended", "./packages/eslint-config-clings-react/typescript"],
  "rules": {
    "global-require": "off",
    "no-case-declarations": "off",
    "import/no-dynamic-require": "off",
    "no-continue": "off"
  }
}
